  <div class="main-slider">
    <div class="display-table text-center">
      <div class="display-table-cell">
        <div class="slider-content">

          <i class="small-icon icon icon-tie"></i>
          <h5 class="date">18, JULHO DE 2020</h5>
          <h3 class="pre-title mt-1">Salve esta data</h3>
          <h1 class="title">Danilo <i class="icon icon-heart"></i> Jhully</h1>

        </div><!-- slider-content-->
      </div><!--display-table-cell-->
    </div><!-- display-table-->
  </div><!-- main-slider -->
