<aside class="sidebar">
  <div class="padding-top-2x hidden-lg-up"></div>
  <!-- Order Summary Widget-->
  <section class="widget widget-order-summary">
    <h3 class="widget-title">Resumo dos Meus Presentes</h3>
    <table class="table">
      <tr *ngIf="cartSubtotal && cartSubtotal > 0">
        <td>SubTotal:</td>
        <td class="text-medium">{{cartSubtotal | currency:'BRL':true }}</td>
      </tr>
      <tr *ngIf="shipping && shipping > 0">
        <td>Frete:</td>
        <td class="text-medium">{{shipping | currency:'BRL':true}}</td>
      </tr>

      <tr *ngFor="let item of itensCart">
        <td>{{item?.product?.name}}</td>
        <td class="text-medium text-right">{{item?.product?.price | currency:'BRL':true}}</td>
      </tr>
      <tr *ngIf="orderTotal && orderTotal > 0">
        <td>Total:</td>
        <td class="text-lg text-medium">{{orderTotal | currency:'BRL':true }}</td>
      </tr>
    </table>
  </section>
</aside>

